{% extends 'base/base.html' %}
{% block content %}
<div class="jumbotron">
      <div class="container">
        <h1>ABCData Web App</h1>
        
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
    <div class="container">
	    <p>ABC refers to:
			<li>Antecedent- the events, action, or circumstances that occur before a behavior.</li>
			<li>Behavior- The behavior.</li>
			<li>Consequences- The action or response that follows the behavior.</li>
      
		</p>
	</div>
    {% endblock %}