{% extends 'base/base.html' %}
<script >
	{% block jquery %}
	var endpoint = '/api/student/details/'
	var defaultData = []
	var labels = [];
	$.ajax({ 
		method: "GET",
		url: endpoint,
		success: function(data){
			labels = data.labels
			defaultData = data.default
			setChart()
			console.log(data)
			console.log(data.student)
			
					},
					error: function(error_data){
						console.log("error")
						console.log(error_data)
					}
				})

	function setChart(){
		var ctx = document.getElementById("myChart").getContext('2d');
		var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
			    labels: labels,
			    datasets: [{
			        label: '# of Votes',
			         data: defaultData,
			         backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
			        }]
			    }
			})
}


	{% endblock %}
</script>
{% include 'navbar.html' %}
{% block content %}
	<div class="col-sm-6">
	<canvas id="myChart" width="400" height="100"></canvas>
</div>
	<a href="{% url 'students:new_student' %}">Add student</a>  
	<h3>Students list:</h3>


	{% for student in all_students %}
<div>
	<ul class="pagination">						
		<ul>
			<li><a href="{% url 'students:detail' student.id %}">{{ student.first_name }} {{ student.last_name }}</a>
				<br>
			<a href="{% url 'students:student_update' student.id %}">Edit   </a>
			<a href="{% url 'students:student_delete' student.id %}">Delete   </a></li>
		</ul>
	</ul>
</div>
	
	<div class="well well-sm">Name:  <a href="{% url 'students:detail' student.id %}">{{ student.first_name }} {{ student.last_name }}</a>
	<br>
	<a href="{% url 'students:student_update' student.id %}">Edit   </a>
	<a href="{% url 'students:student_delete' student.id %}">Delete   </a>
	
	</div>
	
	{% endfor %}

{% endblock %}
